<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ShopModel" connectionString="data source=DESKTOP-GVN6MEF\SQLEXPRESS;initial catalog=Webshop;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework"
      providerName="System.Data.SqlClient" />
    <add name="ShopFormsClient.Properties.Settings.WebshopConnectionString"
      connectionString="Data Source=DESKTOP-GVN6MEF\SQLEXPRESS;Initial Catalog=Webshop;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IUser" />
        <binding name="BasicHttpBinding_IProduct" />
        <binding name="BasicHttpBinding_ICategory" />
        <binding name="BasicHttpBinding_IOrder" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8733/Design_Time_Addresses/ShopService/User/"
        binding="basicHttpBinding" contract="UserReference.IUser" name="BasicHttpBinding_IUser" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/ShopService/Product/"
        binding="basicHttpBinding" contract="ProductReference.IProduct"
        name="BasicHttpBinding_IProduct" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/ShopService/Category/"
        binding="basicHttpBinding" contract="CategoryReference.ICategory"
        name="BasicHttpBinding_ICategory" />
      <endpoint address="http://localhost:8733/Design_Time_Addresses/ShopService/Order/"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrder"
        contract="OrderReference.IOrder" name="BasicHttpBinding_IOrder" />
    </client>
  </system.serviceModel>
</configuration>